<div class="container-fluid">
<section>
        <h1>LISTA DE USUARIOS</h1>
        <%= link_to "CREAR USUARIO", users_new_path ,class:'btn btn-primary' %>
</section>

<div class="table-responsive-sm">
<table class="table table-hover">
    <tr>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Teléfono</th>
            <th>Opciones</th>
           
        </thead>
    </tr>
    <tr>
    <% @users.each do |user| %>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.document %></td>
        <td><%= user.phone %></td>
        <td >
            <%= link_to "EDITAR", edit_user_path(user),class:'btn btn-info' %>
            <%= link_to "ELIMINAR",delete_user_path(user),method: :delete, data:{confirm:"¿Desea eliminar el ususrio? "+user.document} ,class:'btn btn-danger'%>
            <%= link_to "DELETE",user,method: :delete, data:{confirm:"¿Desea eliminar el ususrio? "+user.name},class:'btn btn-danger' %>
        </td>
    </tr>
    <% end %>
</table>
</div>
</div>